source:
  type: "sync"
  address: "127.0.0.1:6379"
  username: "" # keep empty if not using ACL
  password: "" # keep empty if no authentication is required

target:
  type: "standalone"
  address: "127.0.0.1:6380"
  username: "" # keep empty if not using ACL
  password: "" # keep empty if no authentication is required
